body{
    grid-template-areas:
        "cab cab cab"
        "lad pri pri"
        "rod rod rod" ;
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto 1000px auto;
    display: grid;
}

.logo2{
    height:220px;
    width:220;
}
    




.grid-h{
    background-color: #141414;
    grid-area: cab;
    
}


.grid-a{
    background-color: #474747;
    grid-area: lad;
}

.grid-m{
    background-color: #56574F;
    grid-area: pri;
    height: 1000px;
    background-color: rgb(75, 61, 64);
    display: flex;
    justify-content: space-around;
    align-items: center;
   flex-wrap: wrap;

}

.grid-f{
    background-color: #141414;
    grid-area: rod;
    padding: 100px;
}

/*
#141414
#474747
#56574F
#9A988C
#B8B3A0
*/

h1{
    color: white;
}


.filho img{
    width: 200px;
    height: 200px;
}

.filho{
    background-color: #fff;
    width: 300;
    box-shadow: 4px 4px 4px 4px #aaaa;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    padding: 60px;
}

.filho div{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.filho img:hover{
    height: 400px;
    width: 400px;
}
/*